/* All styles for your header Components live here */
body {
    border: 1px red solid;
}

.title {
    display: flex;
    /* padding-left: 10px; */
}
.content {
    display: flex;
}
.text-content {
    padding: 10px;
    border: 1px blue solid;
}
.logo {
    width: 5%;
}
